## Creating Mental Health Dataframe 
Data obtained from ourworldindata.com

In [1]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

In [2]:
age = pd.read_csv('../Data/ment_health.csv')

In [3]:
age.head()

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Percent) (%)
0,Afghanistan,AFG,1990,17.553463
1,Afghanistan,AFG,1991,17.837032
2,Afghanistan,AFG,1992,18.092542
3,Afghanistan,AFG,1993,18.294931
4,Afghanistan,AFG,1994,18.428908

In [4]:
age = age[age['Year']==2017]
age=age.drop('Code', axis=1)
age=age.drop('Year', axis=1)
age.shape

(231, 2)

In [5]:
age.columns=['country', 'mental_h_disorders']
age.head(20)

                  country  mental_h_disorders
27            Afghanistan           16.830857
55                Albania           10.877118
83                Algeria           14.548015
111        American Samoa           10.868077
139  Andean Latin America           12.403460
167               Andorra           14.717904
195                Angola           12.398913
223   Antigua and Barbuda           13.238281
251             Argentina           15.738267
279               Armenia           10.697647
307           Australasia           18.434439
335             Australia           18.381283
363               Austria           14.362136
391            Azerbaijan           10.458851
419               Bahamas           13.354575
447               Bahrain           14.124171
475            Bangladesh           12.459680
503              Barbados           13.573647
531               Belarus           12.121969
559               Belgium           15.018094

In [6]:
age.isnull().sum()

country               0
mental_h_disorders    0
dtype: int64

In [7]:
age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 27 to 6467
Data columns (total 2 columns):
country               231 non-null object
mental_h_disorders    231 non-null float64
dtypes: float64(1), object(1)
memory usage: 5.4+ KB

In [8]:
%store -r countries_dict
age['country'] = age['country'].replace(countries_dict)

In [9]:
%store -r countries
#checkin for different versions of counties names
age.country[~age.country.isin(countries)]

55                                               Albania
111                                       American Samoa
139                                 Andean Latin America
307                                          Australasia
643                                              Bermuda
1035                                           Caribbean
1091                                        Central Asia
1119                                      Central Europe
1147    Central Europe, Eastern Europe, and Central Asia
1175                               Central Latin America
1203                          Central Sub-Saharan Africa
1651                                            Dominica
1707                                           East Asia
1735                                      Eastern Europe
1763                          Eastern Sub-Saharan Africa
1875                                             England
2267                                           Greenland
2323                                                Guam
2491                                            High SDI
2519                                         High-income
2547                            High-income Asia Pacific
2575                                     High-middle SDI
3135                         Latin America and Caribbean
3331                                             Low SDI
3359                                      Low-middle SDI
3723                                Micronesia (country)
3751                                          Middle SDI
4143                        North Africa and Middle East
4171                                       North America
4199                                         North Korea
4227                                    Northern Ireland
4255                            Northern Mariana Islands
4311                                             Oceania
4619                                         Puerto Rico
4899                                            Scotland
5291                                      Southeast Asia
5319              Southeast Asia, East Asia, and Oceania
5347                              Southern Latin America
5375                         Southern Sub-Saharan Africa
5543                                           Swaziland
5655                                              Taiwan
5767                                               Timor
5879                              Tropical Latin America
6131                        United States Virgin Islands
6299                                               Wales
6327                                      Western Europe
6355                          Western Sub-Saharan Africa
Name: country, dtype: object

In [10]:
#lets save/pickle our 'age' dataframe
import pickle

with open('../Data/Pickled/ment_prob.pkl', 'wb') as picklefile:
    pickle.dump(age, picklefile)