In [1]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

In [12]:
wb=pd.read_csv('Lty_wbank.csv', header=None)

In [13]:
wb.columns=['country', 'life_exp']

In [14]:
wb

                 country   life_exp
0    Antigua and Barbuda  76.885000
1              Australia  82.748780
2                Austria  81.643902
3             Azerbaijan  72.864000
4                Burundi  61.247000
..                   ...        ...
182               Kosovo  72.195122
183          Yemen, Rep.  66.096000
184         South Africa  63.857000
185               Zambia  63.510000
186             Zimbabwe  61.195000

[187 rows x 2 columns]