## Environmental Performance Index data
https://epi.envirocenter.yale.edu/epi-topline

In [12]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

In [13]:
age = pd.read_csv('../Data/epi.csv.csv')

In [14]:
age.head()

,code,iso,country,EPI.current,HLT.current,AIR.current,H2O.current,HMT.current,ECO.current,BDH.current,...,MTR.current,DCT.current,DPT.current,DMT.current,DNT.current,DBT.current,DST.current,DXT.current,WWT.current,SNM.current
0,4,AFG,Afghanistan,37.74,36.76,44.67,25.75,0.00,38.40,13.44,...,NaN,23.47,NaN,53.62,50.10,67.66,82.88,100.00,0.00,44.77
1,8,ALB,Albania,65.46,65.67,65.47,66.56,62.89,65.32,75.37,...,61.77,53.77,100.00,73.30,63.65,72.61,83.25,88.90,80.73,22.61
2,12,DZA,Algeria,57.18,80.95,93.98,60.26,35.60,41.34,49.33,...,60.58,17.14,46.35,37.76,23.99,6.93,83.63,8.68,91.60,34.26
3,24,AGO,Angola,37.44,33.79,44.66,9.20,40.08,39.88,39.19,...,38.35,55.00,40.18,36.11,63.78,58.16,59.85,55.99,0.00,22.70
4,28,ATG,Antigua and Barbuda,59.18,76.53,89.13,53.33,52.04,47.61,88.49,...,59.13,0.00,NaN,22.94,85.88,47.50,46.86,47.03,64.44,7.26

In [15]:
age = age.iloc[:,2:4]
age

                 country  EPI.current
0            Afghanistan        37.74
1                Albania        65.46
2                Algeria        57.18
3                 Angola        37.44
4    Antigua and Barbuda        59.18
..                   ...          ...
175              Vanuatu        44.55
176            Venezuela        63.89
177             Viet Nam        46.96
178               Zambia        50.97
179             Zimbabwe        43.41

[180 rows x 2 columns]

In [16]:
age.rename(columns={'EPI.current':'environment'}, inplace=True)

In [17]:
age.isnull().sum()

country        0
environment    0
dtype: int64

In [18]:
age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 2 columns):
country        180 non-null object
environment    180 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.9+ KB

In [19]:
%store -r countries_dict
age['country'] = age['country'].replace(countries_dict)

In [20]:
%store -r countries
#checking for different versions of counties names
age.country[~age.country.isin(countries)]

1                       Albania
38               CÃƒÂ´te d'Ivoire
46                     Dominica
138    SÃƒÂ£o TomÃƒÂ© and PrÃƒÂ­ncipe
154                   Swaziland
157                      Taiwan
Name: country, dtype: object

In [21]:
#lets save/pickle our 'age' dataframe
import pickle

with open('../Data/Pickled/epi.pkl', 'wb') as picklefile:
    pickle.dump(age, picklefile)